@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
:root {
  --game-wrapper-paddingTop: 150px;
  --tetris-padding: 20px;
}

@media only all and (max-height: 900px) {
  :root {
    --game-wrapper-paddingTop: 20px;
  }
}

@media only all and (max-width: 850px) {
  :root {
    --game-wrapper-paddingTop: 0;
  }
}

@media only all and (max-width: 450px) {
  :root {
    --tetris-padding: 10px;
  }
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
}

@media only all and (max-width: 850px) {
  body {
    font-size: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background: url(assets/background.png);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.game-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: var(--game-wrapper-paddingTop);
}

@media only all and (max-width: 850px) {
  .game-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.tetris {
  padding: var(--tetris-padding);
  border-radius: 10px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 15, 92, 0.7)), to(rgba(33, 80, 162, 0.7)));
  background: linear-gradient(rgba(66, 15, 92, 0.7), rgba(33, 80, 162, 0.7));
  -webkit-box-shadow: 5px 5px 25px -5px #FF8080, -5px 5px 25px -5px #FFE488, -5px -5px 25px -5px #8CFF85, 5px -5px 25px -5px #80C7FF, 5px 5px 25px -5px #E488FF, -5px 5px 25px -5px #FF616B, -5px -5px 25px -5px #8E5CFF, 5px 5px 15px 0px rgba(0, 0, 0, 0);
          box-shadow: 5px 5px 25px -5px #FF8080, -5px 5px 25px -5px #FFE488, -5px -5px 25px -5px #8CFF85, 5px -5px 25px -5px #80C7FF, 5px 5px 25px -5px #E488FF, -5px 5px 25px -5px #FF616B, -5px -5px 25px -5px #8E5CFF, 5px 5px 15px 0px rgba(0, 0, 0, 0);
}

@media only all and (max-width: 850px) {
  .tetris {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.game-area {
  -webkit-box-shadow: inset 1px 0px 29px 5px rgba(0, 0, 0, 0.54);
          box-shadow: inset 1px 0px 29px 5px rgba(0, 0, 0, 0.54);
}

.game-over {
  font-size: 36px;
  color: #ffca39;
  position: absolute;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  text-align: center;
  left: 0;
  right: 0;
  top: 40%;
}

.game-over-active {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
}

.info .output {
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 10px 0 40px 20px;
  overflow: hidden;
}

.info .output .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.info .output .icon > svg {
  width: 50px;
  height: 70px;
}

@media only all and (max-width: 850px) {
  .info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info .output {
    margin: 60px 0 20px 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
  .info .output .icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
  .info .output .icon > svg {
    width: 30px;
    height: 50px;
  }
}

@media only all and (max-width: 450px) {
  .info .output:first-child {
    padding-left: 30px;
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
}

@media only all and (max-width: 330px) {
  .info .output {
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
  .info .output:first-child {
    padding-left: 0;
  }
  .info .output:nth-child(2) {
    margin-top: 0;
  }
}

.score {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 70px;
}

@media only all and (max-width: 850px) {
  .score {
    line-height: 50px;
  }
}

.level {
  -webkit-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 70px;
}

@media only all and (max-width: 850px) {
  .level {
    line-height: 50px;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  padding-right: 30px;
}

.buttons .sound-btns {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 177, 95, 0.2)), to(rgba(33, 80, 162, 0.2)));
  background: linear-gradient(rgba(8, 177, 95, 0.2), rgba(33, 80, 162, 0.2));
  border: #218b58 2px solid;
  border-radius: 5px;
  overflow: hidden;
  height: 48px;
}

.buttons .sound-btn {
  -webkit-box-shadow: inset 1px 0px 15px 2px rgba(16, 46, 97, 0.7);
          box-shadow: inset 1px 0px 15px 2px rgba(16, 46, 97, 0.7);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.buttons .active {
  background: -webkit-gradient(linear, left top, left bottom, from(#08b15f), to(#2150a2));
  background: linear-gradient(#08b15f, #2150a2);
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only all and (max-width: 850px) {
  .buttons {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .buttons .sound-btns {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px 0 0 5px;
  }
  .buttons .sound-btn {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 166, 141, 0.5)), to(rgba(255, 48, 81, 0.5)));
    background: linear-gradient(rgba(255, 166, 141, 0.5), rgba(255, 48, 81, 0.5));
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .buttons .active {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa68d), to(#ff3051));
    background: linear-gradient(#ffa68d, #ff3051);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#08b15f), to(#2150a2));
  background: linear-gradient(#08b15f, #2150a2 100%);
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: white;
  display: block;
  margin-bottom: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease-out;
  transition: -webkit-box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
}

.btn:hover, .btn:active {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
}

.btn svg {
  display: none;
}

@media only all and (max-width: 850px) {
  .btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55px;
            flex: 0 0 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa68d), to(#ff3051));
    background: linear-gradient(#ffa68d, #ff3051);
    position: relative;
  }
  .btn span {
    display: none;
  }
  .btn svg {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    fill: white;
  }
}

@media only all and (max-width: 450px) {
  .btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    height: 45px;
  }
  .btn svg {
    width: 20px;
    height: 20px;
  }
}

@media only all and (max-width: 850px) {
  .pause svg {
    width: 25px;
  }
}

@media only all and (max-width: 850px) {
  .onpause svg {
    left: 55%;
  }
}

.drop {
  display: none;
}

@media only all and (max-width: 850px) {
  .drop {
    display: block;
  }
  .drop svg {
    top: 55%;
  }
}

.active-score {
  color: #ffca39;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.sound-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sound-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

.sound-btn svg {
  width: 40px;
  height: 40px;
  fill: white;
}

.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto 0 auto;
  border: 1px solid white;
  width: 60%;
}

@media only all and (max-width: 700px) {
  .reg-form {
    width: 80%;
  }
}

@media only all and (max-width: 400px) {
  .reg-form {
    width: 100%;
  }
}

.submitted {
  border: none;
  margin-top: 10px;
  margin-bottom: -10px;
}

.submitted .reg-btn {
  display: none;
}

.submitted .reg-input {
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

.submitted .reg-input::-webkit-input-placeholder {
  font-size: 22px;
}

.submitted .reg-input:-ms-input-placeholder {
  font-size: 22px;
}

.submitted .reg-input::-ms-input-placeholder {
  font-size: 22px;
}

.submitted .reg-input::placeholder {
  font-size: 22px;
}

.reg-label {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  display: block;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.reg-input {
  background-color: transparent;
  outline: none;
  border: none;
  display: block;
  padding: 13px 10px 10px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  color: #a264ac;
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
}

.reg-input::-webkit-input-placeholder {
  color: #a264ac;
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
}

.reg-input:-ms-input-placeholder {
  color: #a264ac;
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
}

.reg-input::-ms-input-placeholder {
  color: #a264ac;
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
}

.reg-input::placeholder {
  color: #a264ac;
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
}

@media only all and (max-width: 700px) {
  .reg-input {
    width: calc(100% - 50px);
  }
}

.reg-btn {
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  position: relative;
}

.reg-btn svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: white;
  width: 20px;
  height: 30px;
}

.reg-btn:hover svg {
  fill: #a264ac;
}

.nickname-label {
  display: block;
  text-align: center;
}

.nickname-input {
  display: block;
  background-color: white;
  border: 1px solid white;
  outline: none;
  width: 100%;
  padding: 20px;
  margin: 50px 0  40px 0;
  border-radius: 5px;
}

.nickname-input:focus {
  border: 1px solid #b8f1e6;
}

.nickname-input::-webkit-input-placeholder {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.nickname-input:-ms-input-placeholder {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.nickname-input::-ms-input-placeholder {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.nickname-input::placeholder {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.submit-btn {
  width: 100px;
  display: block;
  margin: 0 auto;
  background-color: #b8f1e6;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  font-family: 'Share Tech Mono', monospace;
  color: #696f73;
}

.submit-btn:hover, .submit-btn:active {
  background-color: #43c9ae;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  min-height: 500px;
  background: linear-gradient(155deg, #8ccea4 0% 25%, #15b6cd 25% 65%, #39c0b7 65% 100%);
  -webkit-box-shadow: 5px 5px 15px -5px rgba(2, 2, 2, 0.6);
          box-shadow: 5px 5px 15px -5px rgba(2, 2, 2, 0.6);
  border-radius: 5px;
  padding: 30px;
}

.popup .title {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.popup .subtitle {
  font-size: 16px;
  color: #a264ac;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0 20px 0;
}

.popup .rules {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-size: 18px;
  text-align: center;
}

.popup .rules-row {
  margin-bottom: 15px;
}

@media only all and (max-width: 850px) {
  .popup {
    position: static;
    margin: 0 auto;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 90%;
    min-height: 300px;
  }
}

@media only all and (max-width: 850px) {
  .mob-container {
    padding: 20vh 0;
  }
}

@media only all and (max-width: 450px) {
  .mob-container {
    padding: 10vh 0;
  }
}

.menu .menu-btn {
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu .menu-btn:hover, .menu .menu-btn:active {
  color: #a264ac;
}

.menu > div {
  margin-bottom: 30px;
}

.menu .active svg {
  fill: #a264ac;
}

@media only all and (max-width: 850px) {
  .menu {
    width: 90%;
    min-height: 300px;
  }
}

.menu-btn {
  width: 0px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  overflow: hidden;
  margin-top: 30px;
}

.menu-btn:hover, .menu-btn:active {
  color: #a264ac;
}

.record-table {
  color: white;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
}

@media only all and (max-width: 450px) {
  .record-table {
    width: 100%;
    font-size: 20px;
  }
}

.score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.score-position {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  text-align: left;
}

.user-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(60% - 40px);
          flex: 0 0 calc(60% - 40px);
  text-align: center;
  margin-bottom: 10px;
}

.user-score {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  text-align: center;
}

.arrow-back {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.arrow-back svg {
  width: 50px;
  height: 50px;
}
