@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

// font-family: 'Press Start 2P', cursive;
// font-family: 'Share Tech Mono', monospace;
$tablet: 850px;

:root {
  --game-wrapper-paddingTop: 150px;
  --tetris-padding: 20px;
  @media only all and (max-height: 900px) {
    --game-wrapper-paddingTop: 20px;
  }
  @media only all and (max-width: $tablet) {
    --game-wrapper-paddingTop: 0;
  }
  @media only all and (max-width:450px) {
    --tetris-padding: 10px;
  }
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;

  @media only all and (max-width: $tablet) {
    font-size: 20px;
  }
  
}

* {
  box-sizing: border-box;
}

.container {
  background: url(assets/background.png);
  background-size: cover;
  height: 100vh;
  position: relative;
  visibility: hidden;
  @media only all and (max-width: $tablet) {
   max-height: 100vh;
  }
}

.game-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: var(--game-wrapper-paddingTop);
  @media only all and (max-width: $tablet) {
    flex-wrap: wrap;
  }
}

.tetris {
  padding: var(--tetris-padding);
  border-radius: 10px;
  position: relative;
  background: linear-gradient(rgba(66,15,92, 0.7), rgba(33,80,162, 0.7));
  box-shadow: 5px 5px 25px -5px #FF8080, 
              -5px 5px 25px -5px #FFE488, 
              -5px -5px 25px -5px #8CFF85, 
              5px -5px 25px -5px #80C7FF, 
              5px 5px 25px -5px #E488FF, 
              -5px 5px 25px -5px #FF616B, 
              -5px -5px 25px -5px #8E5CFF, 
              5px 5px 15px 0px rgba(0,0,0,0);

  @media only all and (max-width: $tablet) {
    order: 2;
  }

}

.game-area {
  box-shadow: inset 1px 0px 29px 5px rgba(0,0,0,0.54);
}

.game-over {
  font-size: 36px;
  color: rgb(255, 202, 57);
  position: absolute;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.5s ease-out;
  text-align: center;
  left: 0;
  right: 0;
  top: 40%;
}

.game-over-active {
  transition: transform 0.5s ease-out;
  visibility: visible;
  transform: scale(1);
}

.info {
  flex: 0 0 220px;

  .output {
    text-align: center;
    color: white;
    display: flex;
    align-items: stretch;
    margin: 10px 0 40px 20px;

    .icon {
      flex: 0 0 50px;
      
      >svg{
        width: 50px;
        height: 70px;
      }
    }

  }

  @media only all and (max-width: $tablet) {
    order: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    flex-wrap: wrap;

    .output {
      margin: 43px 10px 20px 0;
      flex: 0 0 140px;

      &:nth-child(2) {
        margin-right: 0;
      }

      .icon {
        flex: 0 0 30px;
        
        >svg{
          width: 30px;
          height: 50px;
        }
      }

    }

  }
 
}

.score {
  transition: transform 0.5s ease-out;
  flex: 1 1 auto;
  line-height: 70px;

 
  @media only all and (max-width: $tablet) {
    line-height: 50px;
  }
 }
 
 .level {
   transition: font-size 0.5s ease-out;
   flex: 1 1 auto;
   line-height: 70px;
 
   @media only all and (max-width: $tablet) {
    line-height: 50px;
    }
  }

.buttons {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  padding-right: 30px;

  .sound-btns {
    background: linear-gradient(rgba(8,177,95, 0.2), rgba(33,80,162, 0.2));
    border: #218b58 2px solid;
    border-radius: 5px;
    overflow: hidden;
    height: 48px;
  }

  .sound-btn {
    box-shadow: inset 1px 0px 15px 2px rgba(16, 46, 97, 0.7);
    transition: all 0.5s ease-out;
    flex: 0 0 50%;
  }

  .active {
    background: linear-gradient(rgba(8,177,95, 1), rgba(33,80,162, 1));
    box-shadow: none;
  }
  

  @media only all and (max-width: $tablet) {
    order: 3;
    flex-basis: 100%;
    padding-right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;

    .recordes,
    .rules,
    .sound-btns {
      display: none;
    }
    
  }
}

.btn {
  background: linear-gradient(#08b15f, rgba(33,80,162, 1) 100%);
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: white;
  display: block;
  margin-bottom: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease-out;
  
  &:hover,
  &:active {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
  }

  svg {
    display: none;
  }

  @media only all and (max-width: $tablet) {
    flex: 0 0 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0 15px;
    background: linear-gradient(#ffa68d, #ff3051);
    position: relative;
    
    span {
      display: none;
    }

    svg {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: white;
    }

  }
}

.pause {
  @media only all and (max-width: $tablet) {
    svg {
      width: 25px;
    }
  }
}

.drop {
  display: none;
  @media only all and (max-width: $tablet) {
    display: block;
    svg {
      top: 55%;
    }

  }
}

.recordes {
  font-size: 18px;
  @media only all and (max-width: $tablet) {
      font-size: 16px;
  }
}

.active-score {
  color: rgb(255, 202, 57);
  transform: scale(1.5);
  @media only all and (max-width: $tablet) {
    transform: scale(1.25);
  }
}

.sound-btns {
  display: flex;
}

.sound-btn {
  background-color: transparent;
  border: none;
  outline: none;
  svg {
    width: 40px;
    height: 40px;
    fill: white;
  }
  
}

.registration-form {
  position: absolute;
  width: 500px;
  z-index: 10;
  left: 50%;
  top: 50%;
 transform: translate(-50%, -50%);
 background: linear-gradient(135deg, rgba(226,251,244,1) 0% 45%, rgba(251,230,249, 1) 45% 100%);
 border-radius: 10px;
 padding: 80px 75px 120px 75px; 
 font-family: 'Share Tech Mono', monospace;
 color: #696f73;
 font-size: 26px;
 box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);

  @media only all and (max-width: 700px) {
    width: 80%;
    padding: 50px 5% 70px 5%; 
  }

}

.nickname-label {
  display: block;
  text-align: center;
}

.nickname-input {
  display: block;
  background-color: white;
  border: 1px solid white;
  outline: none;
  width: 100%;
  padding: 20px;
  margin: 50px 0  40px 0;
  border-radius: 5px;
  &:focus {
    border: 1px solid #b8f1e6;
  }
  &::placeholder {
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
  }
}

.submit-btn {
  width: 100px;
  display: block;
  margin: 0 auto;
  background-color: #b8f1e6;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  font-family: 'Share Tech Mono', monospace;
  color: #696f73;
  &:hover,
  &:active {
    background-color: #43c9ae;
  }
}

.notvisible {
  transition: transform 0.5s ease-out;
  z-index: -1;
  visibility: hidden;
  transform: scale(0);
}

.notscrollable {
  overflow: hidden;
}

.menu-burger {
  display: none;
  position: absolute;
  z-index: 5;
  left: 5px;
  top: 5px;
  width: 50px;
  height: 43px;

  >span {
    position: absolute;
    width: 50px;
    height: 5px;
    background: linear-gradient(90deg, rgba(8,177,95, 1), rgb(4, 152, 179));
    box-shadow: 1px 1px 1px -1px rgba(2, 2, 2, 0.6);
    border-radius: 2px;
  }

  >span:nth-child(2) {
    top: 19px;
  }

  >span:nth-child(3) {
    top: 38px;
  }

  @media only all and (max-width: $tablet) {
    display: block;
  }
}

.aside-menu {
  position: absolute;
  height: 50vh;
  background: linear-gradient(135deg, rgb(196, 241, 229) 0% 45%, rgb(247, 193, 241) 45% 100%);
  background: linear-gradient(155deg, rgb(57, 192, 183) 0% 25%, rgb(21, 182, 205) 25% 65%, rgb(140, 206, 164) 65% 100%);
  box-shadow: 5px 5px 5px -5px rgba(2, 2, 2, 0.6);
  border-radius: 0 0 5px 0;
  padding: 90px 20px 70px 30px;
  overflow: hidden;
  visibility: hidden;
  width: 0px;
  transition: width 0.3s ease-out;
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;

    svg {
      fill: white;
    }
    &:active,
    &:hover {

      svg {
        fill: rgb(162, 100, 172);
      }

    }

  }

  >div {
    margin-bottom: 30px;
  }

  .sound-btns {
    width: 0px;
    overflow: hidden;
  }

  .sound-btn {
    text-align: left;
    flex: 0 0 70px;
      svg {
        transition: fill 0.5s ease-out;
      }
  }

  .active {
    svg {
      fill: rgb(162, 100, 172);
    }
  }

}

.aside-btn {
  width: 0px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  overflow: hidden;
 
  &:hover,
  &:active {
    color: rgb(162, 100, 172);
  }
}

.aside-menu-opened {
  z-index: 10;
  visibility: visible;
  width: 50%;

  .sound-btns {
    width: 100%;
  }

  .aside-btn {
    width: 150px;
  }

}