@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
:root {
  --game-wrapper-paddingTop: 150px;
  --tetris-padding: 20px;
}

@media only all and (max-height: 900px) {
  :root {
    --game-wrapper-paddingTop: 20px;
  }
}

@media only all and (max-width: 850px) {
  :root {
    --game-wrapper-paddingTop: 0;
  }
}

@media only all and (max-width: 450px) {
  :root {
    --tetris-padding: 10px;
  }
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
}

@media only all and (max-width: 850px) {
  body {
    font-size: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background: url(assets/background.png);
  background-size: cover;
  height: 100vh;
  position: relative;
}

@media only all and (max-width: 850px) {
  .container {
    max-height: 100vh;
  }
}

.game-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: var(--game-wrapper-paddingTop);
}

@media only all and (max-width: 850px) {
  .game-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.tetris {
  padding: var(--tetris-padding);
  border-radius: 10px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 15, 92, 0.7)), to(rgba(33, 80, 162, 0.7)));
  background: linear-gradient(rgba(66, 15, 92, 0.7), rgba(33, 80, 162, 0.7));
  -webkit-box-shadow: 5px 5px 25px -5px #FF8080, -5px 5px 25px -5px #FFE488, -5px -5px 25px -5px #8CFF85, 5px -5px 25px -5px #80C7FF, 5px 5px 25px -5px #E488FF, -5px 5px 25px -5px #FF616B, -5px -5px 25px -5px #8E5CFF, 5px 5px 15px 0px rgba(0, 0, 0, 0);
          box-shadow: 5px 5px 25px -5px #FF8080, -5px 5px 25px -5px #FFE488, -5px -5px 25px -5px #8CFF85, 5px -5px 25px -5px #80C7FF, 5px 5px 25px -5px #E488FF, -5px 5px 25px -5px #FF616B, -5px -5px 25px -5px #8E5CFF, 5px 5px 15px 0px rgba(0, 0, 0, 0);
}

@media only all and (max-width: 850px) {
  .tetris {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.game-area {
  -webkit-box-shadow: inset 1px 0px 29px 5px rgba(0, 0, 0, 0.54);
          box-shadow: inset 1px 0px 29px 5px rgba(0, 0, 0, 0.54);
}

.game-over {
  font-size: 36px;
  color: #ffca39;
  position: absolute;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  text-align: center;
  left: 0;
  right: 0;
  top: 40%;
}

.game-over-active {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
}

.info .output {
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 10px 0 40px 20px;
}

.info .output .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.info .output .icon > svg {
  width: 50px;
  height: 70px;
}

@media only all and (max-width: 850px) {
  .info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info .output {
    margin: 43px 10px 20px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
  .info .output:nth-child(2) {
    margin-right: 0;
  }
  .info .output .icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
  .info .output .icon > svg {
    width: 30px;
    height: 50px;
  }
}

.score {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 70px;
}

@media only all and (max-width: 850px) {
  .score {
    line-height: 50px;
  }
}

.level {
  -webkit-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 70px;
}

@media only all and (max-width: 850px) {
  .level {
    line-height: 50px;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  padding-right: 30px;
}

.buttons .sound-btns {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 177, 95, 0.2)), to(rgba(33, 80, 162, 0.2)));
  background: linear-gradient(rgba(8, 177, 95, 0.2), rgba(33, 80, 162, 0.2));
  border: #218b58 2px solid;
  border-radius: 5px;
  overflow: hidden;
  height: 48px;
}

.buttons .sound-btn {
  -webkit-box-shadow: inset 1px 0px 15px 2px rgba(16, 46, 97, 0.7);
          box-shadow: inset 1px 0px 15px 2px rgba(16, 46, 97, 0.7);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.buttons .active {
  background: -webkit-gradient(linear, left top, left bottom, from(#08b15f), to(#2150a2));
  background: linear-gradient(#08b15f, #2150a2);
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only all and (max-width: 850px) {
  .buttons {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .buttons .recordes,
  .buttons .rules,
  .buttons .sound-btns {
    display: none;
  }
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#08b15f), to(#2150a2));
  background: linear-gradient(#08b15f, #2150a2);
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: white;
  display: block;
  margin-bottom: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media only all and (max-width: 850px) {
  .btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    padding: 15px 0;
    font-size: 16px;
    margin: 0 15px;
  }
}

.recordes {
  font-size: 18px;
}

@media only all and (max-width: 850px) {
  .recordes {
    font-size: 16px;
  }
}

.active-score {
  color: #ffca39;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media only all and (max-width: 850px) {
  .active-score {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

.sound-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sound-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

.sound-btn svg {
  width: 40px;
  height: 40px;
  fill: white;
}

.registration-form {
  position: absolute;
  width: 500px;
  z-index: 10;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #e2fbf4 0% 45%, #fbe6f9 45% 100%);
  border-radius: 10px;
  padding: 80px 75px 120px 75px;
  font-family: 'Share Tech Mono', monospace;
  color: #696f73;
  font-size: 26px;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

@media only all and (max-width: 700px) {
  .registration-form {
    width: 80%;
    padding: 50px 5% 70px 5%;
  }
}

.nickname-label {
  display: block;
  text-align: center;
}

.nickname-input {
  display: block;
  background-color: white;
  border: 1px solid white;
  outline: none;
  width: 100%;
  padding: 20px;
  margin: 50px 0  40px 0;
  border-radius: 5px;
}

.nickname-input:focus {
  border: 1px solid #b8f1e6;
}

.nickname-input::-webkit-input-placeholder {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.nickname-input:-ms-input-placeholder {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.nickname-input::-ms-input-placeholder {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.nickname-input::placeholder {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.submit-btn {
  width: 100px;
  display: block;
  margin: 0 auto;
  background-color: #b8f1e6;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  font-family: 'Share Tech Mono', monospace;
  color: #696f73;
}

.submit-btn:hover, .submit-btn:active {
  background-color: #43c9ae;
}

.notvisible {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  z-index: -1;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.notscrollable {
  overflow: hidden;
}

.menu-burger {
  display: none;
  position: absolute;
  z-index: 5;
  left: 5px;
  top: 5px;
  width: 50px;
  height: 43px;
}

.menu-burger > span {
  position: absolute;
  width: 50px;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#08b15f), to(#0498b3));
  background: linear-gradient(90deg, #08b15f, #0498b3);
  -webkit-box-shadow: 1px 1px 1px -1px rgba(2, 2, 2, 0.6);
          box-shadow: 1px 1px 1px -1px rgba(2, 2, 2, 0.6);
  border-radius: 2px;
}

.menu-burger > span:nth-child(2) {
  top: 19px;
}

.menu-burger > span:nth-child(3) {
  top: 38px;
}

@media only all and (max-width: 850px) {
  .menu-burger {
    display: block;
  }
}

.aside-menu {
  position: absolute;
  height: 50vh;
  background: linear-gradient(135deg, #c4f1e5 0% 45%, #f7c1f1 45% 100%);
  background: linear-gradient(155deg, #39c0b7 0% 25%, #15b6cd 25% 65%, #8ccea4 65% 100%);
  -webkit-box-shadow: 5px 5px 5px -5px rgba(2, 2, 2, 0.6);
          box-shadow: 5px 5px 5px -5px rgba(2, 2, 2, 0.6);
  border-radius: 0 0 5px 0;
  padding: 90px 20px 70px 30px;
  overflow: hidden;
  visibility: hidden;
  width: 0px;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.aside-menu .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}

.aside-menu .close-btn svg {
  fill: white;
}

.aside-menu .close-btn:active svg, .aside-menu .close-btn:hover svg {
  fill: #a264ac;
}

.aside-menu > div {
  margin-bottom: 30px;
}

.aside-menu .sound-btn {
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}

.aside-menu .sound-btn svg {
  -webkit-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}

.aside-menu .active svg {
  fill: #a264ac;
}

.aside-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  z-index: -1;
}

.aside-btn:hover, .aside-btn:active {
  color: #a264ac;
}

.aside-menu-opened {
  z-index: 10;
  visibility: visible;
  width: 50%;
}
